.container{
    /*border:1px solid black;*/
    padding: 50px;
    border-radius: 10px;
}
.center-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.center-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.cFormulario{
    border:1px solid red;
    background-color: red;
}

input{
    text-align: center;
}

.modal,.modal-content{
    background-color: rgba(0, 0, 0, 0.1) !important; /* Blanco semitransparente */
    backdrop-filter: blur(3px); /* Aplica desenfoque */
  }

.modal-body{
    padding: 0;
}

.cntlogin{
    background-color: #fff;
}
