<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">DASHBOARD</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse align-items-right" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('inicio') }}">USUARIOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('inicio') }}">REPORTES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('inicio') }}">SALIR(X)</a>
            </li>            
          </ul>
        </div>
      </div>
    </nav>
  
    <main>
        {% block content %}
        <!-- Contenido por defecto del sitio -->
        {% endblock %}
    </main>
  
      
    <div class="container-fluid">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-muted">&copy; 2024 Company, Inc</p>
        
            <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
            </a>
        
            <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Usuarios</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Reportes</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Nosotros</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Ubicacion</a></li>
            </ul>
        </footer>
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  </body>
</html>